# 數列級數與排列組合（Sequences and Combinatorics）

![Creative Commons License](https://i.creativecommons.org/l/by/4.0/88x31.png)

This work by Jephian Lin is licensed under a [Creative Commons Attribution 4.0 International License](http://creativecommons.org/licenses/by/4.0/).

_Tested on SageMath version 8.7_

## 數列與級數

### 數列

一個**數列**指的是一連串的數字  
$a_1,a_2,\ldots,a_n$

在 Sage 中，我們可以用**列表**（list）來紀錄一個數列  
一個列表由一組中括號和一些逗點組成  
`[a1, a2, ..., an]`

In [87]:
seq = [1,2,3,4,5]

如果 `seq` 是一個列表  
可以用 `seq[i]` 來叫出 `seq` 中的第 `i` 個元素  
但注意在程式設計中，元素是從 0 開始數

In [24]:
seq[2]

3

Sage 中可以用 `range(n)` 來叫出  
`[0, 1, ..., n-1]`  
這個列表（`n` 不在裡面）

In [26]:
seq = range(10)
seq

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

也可以用 `range(a,b)` 來叫出  
`[a, a+1, ..., b-1]`  
這個列表（`b` 不在裡面）

In [27]:
seq = range(3,10)
seq

[3, 4, 5, 6, 7, 8, 9]

### 迴圈

電腦擅長做重覆且類似的事情  

一個**迴圈**（loop）可以  
對列表中的所有元素  
做相同的事情

```Python
for element in some_list:
    do something
```

In [88]:
seq = [2,3,5,7,11]

for p in seq:
    print p, 'is a prime number'

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number

配合一些 `if` 的判斷式  
可以讓迴圈更加靈活

In [89]:
for i in range(1,101):
    if i%13 == 1 or i%17 == 1:
        print i

1
14
18
27
35
40
52
53
66
69
79
86
92

### 等差數列

一個**等差數列**  
$a_1, a_2,\ldots, a_n$  
中的每一項都符合 $a_{k+1}=a_k+d$ 的條件

其中 $a_1$ 叫做**首項**  
而 $d$ 叫做**公差**

比如說  
首項為 5  
公差為 2

In [90]:
a = 5
d = 2

當執行 `a = a + d` 時  
意思是將 `a` 更新成 `a + d`  
（所以將下方的程式跑 9 次就會得到 $a_{10}$）

In [96]:
a = a + d
a

17

利用迴圈讓事情變得更簡單

In [97]:
a = 5
d = 2

print 1, a

for i in range(2,11):
    a = a + d
    print i, a

1 5
2 7
3 9
4 11
5 13
6 15
7 17
8 19
9 21
10 23

但數學理論常常能給出簡潔的答案  
$a_n = a_1 + (n-1)d$

In [15]:
a = 5
d = 2
a10 = a + (10 - 1)*d
a10

23

### 等比數列

一個**等比數列**  
$a_1, a_2,\ldots, a_n$  
中的每一項都符合 $a_{k+1}=a_k\times r$ 的條件

其中 $a_1$ 叫做**首項**  
而 $r$ 叫做**公比**

比如說  
首項為 5  
公比為 2

In [51]:
a = 5
r = 2

當執行 `a = a * d` 時  
意思是將 `a` 更新成 `a * d`  
（所以將下方的程式跑 9 次就會得到 $a_{10}$）

In [55]:
a = a * r
a

80

同樣可以用迴卷來處理

In [50]:
a = 5
r = 2

print 1, a

for i in range(2,11):
    a = a * r
    print i, a

1 5
2 10
3 20
4 40
5 80
6 160
7 320
8 640
9 1280
10 2560

等比及數的第 $n$ 項為  
$a_n = a_1 \times r^{n-1}$

In [19]:
a = 5
r = 2
a10 = a * r^(10-1)
a10

2560

### 級數

一個**級數**指的是一連串數字的和  
$a_1+a_2+\cdots +a_n$

`sum` 函數可以計算列表中所有元素的總和

In [98]:
seq = [1,2,3,4,5]
sum(seq)

15

也可以利用迴圈來計算總和：

設定 `total = 0`  
每次把各個元素加進去 `total = total + i`

In [36]:
seq = [1,2,3,4,5]

total = 0
for i in seq:
    total = total + i
    
total

15

用迴圈來計算等差級數

In [56]:
a = 5
d = 2

total = a
print 1, a, total

for i in range(2,11):
    a = a + d
    total = total + a
    print i, a, total

1 5 5
2 7 12
3 9 21
4 11 32
5 13 45
6 15 60
7 17 77
8 19 96
9 21 117
10 23 140

首項為 $a_1$ 而公差為 $d$ 的等差級數為  
$a_1+\cdots +a_n=\frac{(a_1+a_n)\times n}{2} = \frac{(a_1+a_1+(n-1)d)\times n}{2}$

算出來答案應該要一樣

In [100]:
a = 5
d = 2

(a + a + (10 - 1)*d) * 10 / 2

140

用迴圈來計算等比級數

In [101]:
a = 5
r = 2

total = a
print 1, a, total

for i in range(2,11):
    a = a * r
    total = total + a
    print i, a, total

1 5 5
2 10 15
3 20 35
4 40 75
5 80 155
6 160 315
7 320 635
8 640 1275
9 1280 2555
10 2560 5115

首項為 $a_1$ 而公比為 $r$（$r\neq 1$）的等比級數為  
$a_1+\cdots +a_n=a_1\times \frac{1-r^n}{1-r}$  

若 $r=1$  
則 $a_1+\cdots +a_n=a_1+\cdots +a_1=na_1$

算出來答案應該要一樣

In [102]:
a = 5
r = 2

a * ((1-r^10) / (1-r))

5115

### 列表推導（list comprehension）

清單、列表

In [58]:
seq = [2*k for k in range(1,11)]
seq

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [60]:
seq = [k^2 for k in range(1,11)]
seq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [61]:
seq = [2*k for k in range(1,11)]
sum(seq)

110

In [62]:
seq = [k^2 for k in range(1,11)]
sum(seq)

385

In [78]:
seq = [2*k for k in range(1,11) if k%2 == 0]
sum(seq)

60

In [79]:
seq = [k^2 for k in range(1,11) if k%2 == 0]
sum(seq)

220

In [42]:
x = var('x')
a = 10
b = 4

p = expand((1+x)^a)

print p
print p.coefficient(x^b)

x^10 + 10*x^9 + 45*x^8 + 120*x^7 + 210*x^6 + 252*x^5 + 210*x^4 + 120*x^3 + 45*x^2 + 10*x + 1
210

In [44]:
factorial(a)/factorial(a-b)/factorial(b)

210

In [43]:
binomial(10,4)

210

## 排列組合

In [8]:
elements = [1,2,3,4,5]
for per in Permutations(elements,2):
    print per

[1, 2]
[1, 3]
[1, 4]
[1, 5]
[2, 1]
[2, 3]
[2, 4]
[2, 5]
[3, 1]
[3, 2]
[3, 4]
[3, 5]
[4, 1]
[4, 2]
[4, 3]
[4, 5]
[5, 1]
[5, 2]
[5, 3]
[5, 4]

In [9]:
factorial(5)/factorial(5-2)

20

In [14]:
elements = [1,2,3,4,5]
for com in Combinations(elements,2):
    print com

[1, 2]
[1, 3]
[1, 4]
[1, 5]
[2, 3]
[2, 4]
[2, 5]
[3, 4]
[3, 5]
[4, 5]

In [12]:
factorial(5)/factorial(5-2)/factorial(2)

10

start counting

In [13]:
counter = 0

for i in range(1,101):
    if i%13 == 1 or i%17 == 1:
        counter = counter + 1
        print i

counter

1
14
18
27
35
40
52
53
66
69
79
86
92

13

In [15]:
elements = [1,2,3,4,5]

counter = 0
for per in Permutations(elements,5):
    if per[0] == 1 and per[4] != 5:
        counter = counter + 1
        #print per

counter

18

In [17]:
elements = [1,1,2,2,3]

counter = 0
for per in Permutations(elements,5):
    counter = counter + 1
    #print per

counter

30

In [19]:
elements = [1,2,3,4,5]

counter = 0
for com in Combinations(elements,3):
    if 1 in com and 5 not in com:
        counter = counter + 1
        #print com

counter

3

In [20]:
elements = [1,1,2,2,3]

counter = 0
for com in Combinations(elements,3):
    counter = counter + 1
    #print com

counter

5

In [22]:
counter = 0

for x in range(6):
    for y in range(6):
        for z in range(6):
            if x + y + z == 5:
                counter = counter + 1
                #print x, y, z
                
counter

21

In [23]:
counter = 0

for x in range(1,6):
    for y in range(1,6):
        for z in range(1,6):
            if x + y + z == 5:
                counter = counter + 1
                #print x, y, z
                
counter

6

In [24]:
n = 100

counter = 0

for p in range(1,101):
    if n % p == 0:
        counter = counter + 1
        #print p
        
counter

9

In [25]:
n = 100

total = 0

for p in range(1,101):
    if n % p == 0:
        total = total + p
        #print p, total
        
total

217

## 離散機率

In [26]:
import random

In [28]:
numbers = [1,2,3,4,5,6]
random.choice(numbers)

4

In [29]:
def roll_a_dice():
    return random.choice([1,2,3,4,5,6])

In [34]:
roll_a_dice()

2

In [37]:
counter = [0,0,0,0,0,0]
n = 10000

for i in range(n):
    k = roll_a_dice()
    counter[k-1] = counter[k-1] + 1
    # 骰子的數字是 1,2,3,4,5,6
    # counter 的編號是 0,1,2,3,4,5
    
print '出現次數',counter
print '機率', [N(count/n, digits=4) for count in counter]

出現次數 [1670, 1643, 1632, 1678, 1735, 1642]
機率 [0.1670, 0.1643, 0.1632, 0.1678, 0.1735, 0.1642]

In [67]:
random.randint(1,6)

1

In [56]:
counter = 0

for i in range(1,101):
    if is_prime(i):
        counter = counter + 1
        
print counter
print N(counter/100)

25
0.250000000000000

In [68]:
def prime_in_K(K=100):
    p = random.randint(1,K)
    return is_prime(p)

In [77]:
K = 100
n = 10000

counter = 0

for i in range(K):
    if prime_in_K():
        counter = counter + 1
        
N(counter / n)

0.00290000000000000

monty hall

In [84]:
doors = [1,2,3]
car = random.choice(doors)
player_choose = random.choice(doors)

no_car_no_choose = [door for door in doors if door != car and door != player_choose]
host_open = random.choice(no_car_no_choose)

no_choose_no_open = [door for door in doors if door != player_choose and door != host_open]
player_change = no_choose_no_open[0]

player_change == car

False

In [85]:
def Monty_Hall_game():
    doors = [1,2,3]
    car = random.choice(doors)
    player_choose = random.choice(doors)

    no_car_no_choose = [door for door in doors if door != car and door != player_choose]
    host_open = random.choice(no_car_no_choose)

    no_choose_no_open = [door for door in doors if door != player_choose and door != host_open]
    player_change = no_choose_no_open[0]

    return player_change == car

In [86]:
n = 10000

counter = 0
for i in range(n):
    if Monty_Hall_game():
        counter = counter + 1

N(counter / n)

0.666600000000000

##  動手試試看

##### 練習

(Sequences and Combinatorics: sequences and series;combinatorics;discrete probability.  list, for loop, sequence, fibonacci, series, counting, multiply, add, binomial coefficients, counting numbers, probability, Monty Hall & Fall, basic statistics)

monty fall